/*------>---- GENERAL BODY ELEMENTS -----<-----------------*/

html , body{
	height: 800px;
  /**background-color:	#98AFC7;**/
}

body {
	margin: 0;
	padding: 0;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
}

textarea 
{
	resize: none;
}

thead, tr, th, td, tbody
{
	vertical-align: baseline;
	padding: 0px;
	background: none repeat scroll 0% 0% transparent;
	border: 0px none;

}

a {
	color: #4575D4;
}

a:hover {
	color: #05296E;
	text-decoration: none;
}


/*-------->--- END GENERAL BODY ELEMENTS --------<----------*/

/*-------->- OTHER ELEMENTS ---------<---------------------*/


/*-- SEARCH BOX ------------------*/

/*-- SEARCH  BOX END ------------------*/

/*-- MAIN ------------------*/

#main {
	margin: 10px auto;
	padding: 0;        
	text-align: right;
    width:960px;
}
/*-- END MAIN ------------------*/

/*-- PAGE ------------------*/

/*-- END PAGE --------------*/


/*-- BOX --------------------*/
	
#box {
	float: right;
	padding: 10px;
	margin: 0;
	border: 1px solid #8E8E8C;
    box-shadow: 5px 5px 5px #8E8E8C;
    background-color:	#DCEBEB;
	height:800px;
    min-width:600px;
}

#box h1 {
/*	color: #0000A0;*/
	font-size: 2em;
	padding: 20px 0 50px 0;
	margin: 0;
	text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    font-family:Baskerville Old Face;
}

#fakeHR{
    border-bottom: 1px dashed blue;
    margin: 20px 0;
}
/*-- END BOX ------------------*/




/*-- SIDEBAR --------------------*/

#sidebar {
    float: right;
    text-align:left;
	width: 20%;
	display: inline;
	padding: 20px 10px 0;
	margin-right: 20px;
    height:800px;
    border:none;
    min-width:100px;
    /*background-color:#A1AEC1;/*#82CAFF;*/
    height:100%;
    box-shadow: 5px 5px 5px #8E8E8C;

    background-image: linear-gradient(bottom, rgb(59,50,57) 25%, rgb(142,158,158) 70%);
    background-image: -o-linear-gradient(bottom, rgb(59,50,57) 25%, rgb(142,158,158) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(59,50,57) 25%, rgb(142,158,158) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(59,50,57) 25%, rgb(142,158,158) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(59,50,57) 25%, rgb(142,158,158) 70%);

    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(59,50,57)),
    color-stop(0.7, rgb(142,158,158))
    );

    <!--[if IE]>
    background-color:8e9e9e;
    <![endif]-->
}

#sidebar h2 {
	color: #3F064D;
	font-size: 1.8em;
	padding: 60px 0 40px 0;
	margin: 0;
	text-align: center;
}

#sidebar p {
	padding: 10px 20px;
	margin: 0;
	color: #222;
	font-size: 0.90em;
}

#sidebar ul{
	margin: 0 45px 15px 20px;
	padding: 0 45px;
	font-size: 0.90em;
	list-style-type:disc;
}

/*-- END SIDEBAR -----------*/



/*------>------ END OTHER ELEMENTS ----<----------------*/

