/*------>---- GENERAL BODY ELEMENTS -----<-----------------*/

html , body{
	height: 100%;
  /**background-color:	#98AFC7;**/

}

body {
	margin: 0;
	padding: 0;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
}

textarea 
{
	resize: none;
}

thead, tr, th, td, tbody
{
	vertical-align: baseline;
	padding: 0px;
	background: none repeat scroll 0% 0% transparent;
	border: 0px none;

}

a {
	color: #4575D4;
}

a:hover {
	color: #05296E;
	text-decoration: none;
}


/*-------->--- END GENERAL BODY ELEMENTS --------<----------*/

/*-------->- OTHER ELEMENTS ---------<---------------------*/

/* #box,  #sidebar{

	-moz-border-radius: 15px;
	border-radius: 15px;
} */

/*-- SEARCH BOX ------------------*/

/*-- SEARCH  BOX END ------------------*/

/*-- MAIN ------------------*/

#main {
	margin: 20px;
	padding: 0;        
	text-align: left;
	height:100%;
	
}

/*-- END MAIN ------------------*/

/*-- PAGE ------------------*/

/*-- END PAGE --------------*/


/*-- BOX --------------------*/
	
#box {
	float: right;
	width: 600px;
	padding: 10px;
	margin: 0;
	background: white;
	border: 1px solid #8E8E8C;
	height:100%;
  box-shadow: 5px 5px 5px #8E8E8C;

}

#box h1 {
	color: #3F064D;
	width: 500px;
	font-size: 1.5em;
	padding: 20px 0 20px 0;
	margin: 0;
	text-align: center;
    text-transform: uppercase;
}

/* #box p.p2 {
	padding: 2px 32px 15px 32px;
	color: #222;
	font-size: 0.90em;
	text-align: justify;
} */

/*-- END BOX ------------------*/


/*-- CONTENT ------------------*/

#content {
	border: 2px solid black;
	background-color:#E6F5F5;
	margin: 10px 15px 20px;
	padding: 20px 25px;
	color: #222;
	font-size: 0.90em;
}


/*-- END CONTENT ---------------------*/



/*-- SIDEBAR --------------------*/

#sidebar {
  float: right;
	width: 200px;
	display: inline;
	padding: 20px 10px;
	margin-right: 10px;
  border:none;
	background-color:#82CAFF;
  height:100%;
  box-shadow: 5px 5px 5px #8E8E8C;
}

#sidebar h2 {
	color: #3F064D;
	font-size: 1.8em;
	width: 200px;
	padding: 60px 0 40px 0;
	margin: 0;
	text-align: center;
}

#sidebar p {
	padding: 10px 20px;
	margin: 0;
	color: #222;
	font-size: 0.90em;
}

#sidebar ul{
	margin: 0 45px 15px 20px;
	padding: 0 45px;
	font-size: 0.90em;
	list-style-type:disc;
}

/*-- END SIDEBAR -----------*/



/*------>------ END OTHER ELEMENTS ----<----------------*/

