#search-box
{
	width: 100%;
}

#search-box a
{
	background-color:none;
	color:#216477;
}

/*******************************************************************/
/* Pagination */

ul
{
	border:0;
	margin:0;
	padding:0;
}

#pagination
{
	margin-left:40px;
}

#pagination li
{
	font-size:0.9em;
	list-style:none;
	display:inline;
	margin-right: 2px;
}

#pagination a
{
	border:1px solid #479BF9;
	padding: 2px 5px;
	margin-right: 2px;
	font-weight:bold;
	text-decoration:none;
}

#pagination a:hover
{
	border: 1px solid #297DDB;
	background-color: #A0CFEC;
}

#pagination .previous-off,
#pagination .next-off
{
	display:block;
	float:left;
	display:block;
	margin-right: 2px;
	padding: 3px 4px;
	font-weight:bold;
	color:#adaaad;
}

#pagination .active 
{
	float: left;
	padding: 3px 7px;

}



/*******************************************************************/
/* Tables */




/* Search */


#search{
  background-color:white;/**#E6F5F5;**/
  border:2px solid RoyalBlue;
}

/*Transaction Table*/
#transaction-list
{
	width: 100%;
	margin: 50px 0;
	text-align: left;
  background-color: white;/**#E6F5F5;**/
	color:#216477;
  text-align:centre;
  outline:#4380D3 2px solid;
  
}

/**
#transaction-list tbody tr:nth-child(odd) {
  background-color:;
}
**/

#transaction-list>thead
{
	color:black;
	background:#4380D3;
  padding: 5px  10px;
}

#transaction-list>tbody>tr>td
{
	height:30px;
  padding: 5px 10px;
}

#transaction-list>tbody>tr{
  border-top: 1.5px solid white;
	/**background-color:#C2DFFF;**/
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#transaction-list>tbody>tr:hover
{
	color:black;
	background-color: #FFF380;
}

#transaction-list a:link, a:visited{
	color:#216477
}

#transaction-list>tbody>tr
{
	max-width: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	
	
	<!--[if IE]>
		table-layout: fixed;
    width: 100px;
	<![endif]-->

}

/* Table just for formatting */
.formatted
{
	padding-top:20px;
}

#box,#sidebar,#search
{
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	padding: 15px;
}

/*******************************************************************/

/* Forms */

td.transactionTitle
{
	font-weight: bold;
}

/* TODO : make title for uppercase and importante headings*/

td.spaceBelow
{
	padding-bottom: 30px;
}


input[readonly="readonly"]
{
	background-color:#E6F5F5;
	border: 0;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea[readonly="readonly"]
{
	background-color:#E6F5F5;
	border: 1px solid #B7C8CF;
}

textarea[readonly="readonly"]:focus
{
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
    border: 1px solid #2680A1;
    -moz-border-radius: none; 
    -webkit-box-shadow:none;
    box-shadow: none;  
}


textarea 
{
    padding : 5px;
    margin: 5px 0;
    font-size: 10px;
    outline: none;
    width: 100%;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 1px solid #ccc;  
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;  
}  
  
textarea:focus {  
	border: 1px solid #fafafa;  
	-webkit-box-shadow: 0px 0px 4px #007eff;  
	-moz-box-shadow: 0px 0px 3px #007eff;  
	box-shadow: 0px 0px 3px #007eff;  
}  

.data
{
	font-size:10px;
	margin-right:20px;
	padding-left:5px;
}

/*************TABS**************/

ul#tabs
{
  list-style-type:none;
  margin: 30px 0 0 0;
}

ul#tabs li 
{
  display: inline;
}

ul#tabs li a
{
    color: royal blue;
    background-color: black;
    border: 1px solid white;
}


ul#tabs li a:hover
{
    color: yellow;
    background-color: royal blue;
    border-bottom: none;
    text-decoration: none;
    padding: 0.3em;
}

ul#tabs li a:selected
{
    color:white;
    background-color:orange;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent.hide
{
    display:none;
}

div.tabContent
{
    border: 1px solid blue;
    padding: 0.5em;
    background-color: pink;
}

/*******slide out tab thingy start*********/

.slide-out-div {
    padding: 20px;
    width: 150px;
    background: #E6F5F5;
    border: 2px solid #1589FF;
    z-index:1;
}
    
.handle {
    height: 800px;
    width: 70px;
}

/*******history list elements start*********/

.history:hover{
    color:red;
    text-decoration:underline;
}


/**

#panel-body{
  opacity:0.6;
  background-color:red;
}

**/

