
#search-box
{
	width: 100%;
}

#search-box a
{
	background-color:none;
	color:#216477;
}

/*******************************************************************/
/* Pagination */

ul
{
	border:0;
	margin:0;
	padding:0;
}

#pagination
{
	margin-left:40px;
}

#pagination li
{
	font-size:0.9em;
	list-style:none;
	display:inline;
	margin-right: 2px;
}

#pagination a
{
	border:1px solid #479BF9;
	padding: 2px 5px;
	margin-right: 2px;
	font-weight:bold;
	text-decoration:none;
}

#pagination a:hover
{
	border: 1px solid #297DDB;
	background-color: #A0CFEC;
}

#pagination .previous-off,
#pagination .next-off
{
	display:block;
	float:left;
	display:block;
	margin-right: 2px;
	padding: 3px 4px;
	font-weight:bold;
	color:#adaaad;
}

#pagination .active 
{
	float: left;
	padding: 3px 7px;

}



/*******************************************************************/
/* Tables */

/*Transaction Table*/
#transaction-list
{
	width: 100%;
	height: ;
	margin: 20px 0;
	text-align: left;
	background-color:#E6F5F5;
	color:#216477;
}

#transaction-list>thead
{
	color:black;
	background:#4380D3;
}

#transaction-list>tbody>tr>td
{
	height:20px;
}

#transaction-list>tbody>tr, a{
	background-color:#E6F5F5;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
#transaction-list>tbody>tr:hover
{
	color:black;
	background-color: #C2DFFF;
}

#transaction-list>tbody>tr:hover a
{
	color:black;
	background-color: #C2DFFF;
}

#transaction-list a:link, a:visited{
	color:#216477
}

#transaction-list>tbody>tr
{
	max-width: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	
	
	<!--[if IE]>
		table-layout: fixed;
        width: 100px;
	<![endif]-->

}

/* Table just for formatting */
.formatted
{
	padding-top:20px;
}


.bordered
{
	border:2px solid RoyalBlue;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	padding: 15px;
}

/*******************************************************************/






